<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-BXFLkrtbsUYj6362LEf8ZlIHB9_r6wE</string>
	<key>GCM_SENDER_ID</key>
	<string>379342007983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.levnext.myschool</string>
	<key>PROJECT_ID</key>
	<string>levnextmyschool</string>
	<key>STORAGE_BUCKET</key>
	<string>levnextmyschool.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379342007983:ios:8772a40fe069e4c4b6ee5a</string>
</dict>
</plist>